@model ServiceReference1.MovieData
@{
    ViewData["Title"] = "EditMovie";
}

@Html.Partial("_Menu")

<div class="container">

    <h1>Update Movie Info</h1>

    <div class="container-form">

        @using (Html.BeginForm(FormMethod.Post, new { @id = "viewing-form" }))
        {
            <label for="title">Title</label>
            @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control", @data_val = "true", @required = "required" } });
            <label for="img-path">Image Path</label>
            @Html.EditorFor(m => m.ImgPath, new { htmlAttributes = new { @class = "form-control", @data_val = "true", @required = "required" } });
            <label for="description">Description</label>
            @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control", @data_val = "true", @required = "required" } });
            <label for="description">Runtime (Minutes)</label>
            @Html.EditorFor(m => m.Runtime, new { htmlAttributes = new { @class = "form-control", @data_val = "true", @required = "required" } });
            <label for="description">Genre</label>
            @Html.EditorFor(m => m.Genre, new { htmlAttributes = new { @class = "form-control", @data_val = "true", @required = "required" } });
            <input type="submit" value="Update Movie" />
        }

        @ViewBag.Status

    </div>

</div>
