
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome back @User.Identity.Name</h1>
<ul>
    <li>
        @Html.ActionLink("Register Movie", "RegisterMovie")
    </li>
    <li>
        @Html.ActionLink("Register Viewing", "RegisterViewing")
    </li>
    <li>
        @Html.ActionLink("List Customers", "ListCustomers")
    </li>
</ul>
@Html.ActionLink("Logout", "Logout", "Home")