@model List<ServiceReference1.CustomerData>
@{
    ViewData["Title"] = "List Customers";
}

@Html.Partial("_Menu")


<div class="container">

    <h1>All Customers</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        @foreach (var customer in Model)
        {
        <tr>
            <td>@customer.Id</td>
            <td>@customer.Email</td>
            <td>@customer.Name</td>
            <td>@Html.ActionLink("Edit", "ListCustomers") <a href="/Admin/RemoveCustomer?id=@customer.Id">Remove</a></td>
        </tr>
        }
    </table>

</div>