@model ServiceReference1.Movie
@{
    ViewData["Title"] = "RegisterMovie";
}

<h1>Register New Movie</h1>

@using (Html.BeginForm())
{
    <label for="title">Title</label>
    @Html.EditorFor(m => m.Title);
    <br />
    <label for="img-path">Image Path</label>
    @Html.EditorFor(m => m.ImgPath);
    <br />
    <label for="description">Description</label>
    @Html.EditorFor(m => m.Description);
    <br />
    <label for="description">Runtime (Minutes)</label>
    @Html.EditorFor(m => m.Runtime);
    <br />
    <label for="description">Genre</label>
    @Html.EditorFor(m => m.Genre);
    <br />
    <br />
    <input type="submit" value="Register Movie" />
}

@ViewBag.Status

@Html.ActionLink("Back", "Index")