@model RegisterViewingModel
@{
    ViewData["Title"] = "Register Viewing";
}

@Html.Partial("_Menu")

<div class="container">
    <h1>Register New Movie Viewing</h1>
    <div class="container-form">

        @using (Html.BeginForm(FormMethod.Post, new { @id = "viewing-form" }))
        {
            <label for="movieId">Movie</label>
            <select name="movieId" required>

                @foreach (var movie in Model.Movies)
                {
                    <option value="@movie.Id">@movie.Title</option>
                }

            </select>
            <label for="theaterId">Theater</label>
            <select name="theaterId" required>

                @foreach (var theater in Model.Theaters)
                {
                    <option value="@theater.Id">@theater.Name</option>
                }

            </select>
            <label for="date">Date</label>
            <input type="date" name="date" required/>
            <label for="time">Time(HH:MM)</label>
            <input name="time" type="time" required/>
            <input type="submit" value="Register Viewing" />
        }

    </div>
</div>

