@model ServiceReference1.MovieData;
@{
    Layout = "_Layout";
}

<h1>@Html.DisplayFor(m => m.Title)</h1>
<img src="@Html.DisplayFor(m => m.ImgPath)"/>
<h3>@Html.DisplayFor(m => m.Runtime)</h3>
<h3>@Html.DisplayFor(m => m.Genre)</h3>
<p>@Html.DisplayFor(m => m.Description)</p>

