<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Theater Client</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("Register", "Register", "User")
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Logout", "Logout", "User")
            @Html.ActionLink(User.Identity.Name, "Index", "User")
        }
        else
        {
            @Html.ActionLink("Login", "Login", "User")
        }
    </header>
    <div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>

