<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Theater Client</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("Login", "Login", "User")
        @Html.ActionLink("Register", "Register", "User")
        @ViewBag.Auth
    </header>
    <div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>

